<section class="collection">
    <div class="collection__container">
        <div class="collection__thumbnail">
            <figure class="collection__figure">
                <img class="collection__image"
                     alt="{{ collection.thumbnail.title | escape }}"
                     height="{{ collection.thumbnail.height | escape }}"
                     src="{{ collection.thumbnail.url }}"
                     title="{{ collection.thumbnail.title | escape }}"
                     width="{{ collection.thumbnail.width | escape }}">
            </figure>
        </div>
        <div class="collection__column">
            <article class="collection__card">
                <span class="collection__label">{{ collection.label }}</span>
                <h2 class="collection__title">{{ collection.title }}</h2>
                <p class="collection__description">{{ collection.description }}</p>
                <a class="collection__link"
                   href="{{ collection.link.url }}"
                   target="{{ collection.link.target | escape }}"
                   title="{{ collection.link.title | escape }}"
                   data-ripple>
                    <span class="collection__text">{{ collection.link.title }}</span>
                </a>
            </article>
        </div>
    </div>
</section>
