<section class="hero">
    <div class="hero__container">
        <div class="hero__row">
            <div class="hero__column">
                {% comment %}
                {%
                    include 'partials.slider' with
                    modifier: 'hero',
                    slider: hero.slider
                %}
                {% endcomment %}
            </div>
            <div class="hero__column">
                <h1 class="hero__title">{{ hero.title }}</h1>
                <div>
                    <span class="hero__price">{{ hero.price.currency }} <strong>{{ hero.price.amount }}</strong></span>
                    <button class="hero__cart"
                            title="{{ hero.cart }}"
                            type="button">
                        <span class="hero__text">{{ hero.cart }}</span>
                        <svg class="hero__icon">
                            <use href="#symbol-plus"/>
                        </svg>
                    </button>
                    {% if hero.sustainable.active %}
                    <div class="hero__sustainable">
                        <svg class="hero__icon">
                            <use href="#symbol"/>
                        </svg>
                        <strong class="hero__text">{{ hero.sustainable.title }}</strong>
                    </div>
                    {% endif %}
                    <p class="hero__details">{{ hero.details | raw }}</p>
                </div>
                {% comment %}
                <a class="hero__"
                   href=""
                   title=""
                   target="_self"></a>
                {% if hero.sizes %}
                <div class="hero__sizes">
                    {% for size in hero.sizes %}
                    <button class="hero__size"
                            title="{{ size.name | escape}}"
                            type="button">{{ size.abbreviation }}</button>
                    {% endfor %}
                </div>
                {% endif %}
                {% if hero.colors %}
                <div class="hero__colors">
                    {% for color in hero.colors %}
                    <button class="hero__color"
                            title="{{ color.name | escape}}"
                            type="button">{{ color.name }}</button>
                    {% endfor %}
                </div>
                {% endif %}
                <button></button>
                {% endcomment %}
            </div>
        </div>
    </div>
</section>
