<section class="newsletter">
    <div class="newsletter__container">
        <div class="newsletter__row">
            <div class="newsletter__column newsletter__column--description">
                <h2 class="newsletter__title">{{ newsletter.title }}</h2>
                <p class="newsletter__description">{{ newsletter.description | raw }}</p>
            </div>
            <div class="newsletter__column newsletter__column--form">
                <form class="newsletter__form"
                      method="post">
                    <div class="newsletter__field"
                         data-ripple>
                        <input id="newsletter"
                               class="newsletter__input"
                               autocomplete="email"
                               placeholder="{{ newsletter.email.placeholder | escape }}"
                               title="{{ newsletter.email.title | escape }}"
                               type="email">
                        <label class="newsletter__label"
                               for="newsletter"
                               title="{{ newsletter.email.title | escape }}">{{ newsletter.email.title }}</label>
                    </div>
                    <button class="newsletter__button"
                            title=""
                            type="submit"
                            data-ripple>
                        <svg class="newsletter__icon">
                            <use href="#symbol-arrow"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
