{% case modifier %}
    {% when 'hero' %}
    {% if slider %}
    <div class="slider slider--hero"
         data-slider-hero>
        {% for slide in slider %}
        <article class="slider__slide">
            <div class="slider__thumbnail">
                <figure class="slider__figure">
                    <img class="slider__image"
                         alt="{{ slide.thumbnail.title | escape }}"
                         height="{{ slide.thumbnail.height | escape }}"
                         src="{{ slide.thumbnail.url }}"
                         title="{{ slide.thumbnail.title | escape }}"
                         width="{{ slide.thumbnail.width | escape }}">
                </figure>
            </div>
        </article>
        {% endfor %}
    </div>
    {% endif %}
{% endcase %}
