{% if features %}
<div class="features">
    <div class="features__cards">
        {% for feature in features %}
        <article class="features__card">
            <div class="features__thumbnail">
                <figure class="features__figure">
                    <img class="features__image"
                         alt="{{ feature.thumbnail.title | escape }}"
                         height="{{ feature.thumbnail.height | escape }}"
                         src="{{ feature.thumbnail.url }}"
                         title="{{ feature.thumbnail.title | escape }}"
                         width="{{ feature.thumbnail.width | escape }}">
                </figure>
            </div>
            <h3 class="features__title">{{ feature.title }}</h3>
            <p class="features__description">{{ feature.description }}</p>
        </article>
        {% endfor %}
    </div>
</div>
{% endif %}
