<section class="hero">
    <div class="hero__container">
        <div class="hero__row">
            <div class="hero__column hero__column--slider">
                {%
                    include 'product.partials.slider' with
                    modifier: 'hero',
                    slider: hero.slider
                %}
            </div>
            <div class="hero__column hero__column--product">
                <h1 class="hero__title">{{ hero.title }}</h1>
                <div class="hero__overview">
                    <span class="hero__price">{{ hero.price.currency }} <strong>{{ hero.price.amount }}</strong></span>
                    {% if hero.sizing.active %}
                    <a class="hero__sizing"
                       href="{{ hero.sizing.url | escape }}"
                       target="{{ hero.sizing.target | escape }}"
                       title="{{ hero.sizing.title | escape }}">{{ hero.sizing.title }}</a>
                    {% endif %}
                </div>
                {% if hero.sizes %}
                <div class="hero__sizes">
                    <ul class="hero__list">
                        {% for size in hero.sizes %}
                        <li class="hero__item">
                            <button class="hero__size"
                                    title="{{ size.name | escape }}"
                                    type="button">{{ size.abbreviation }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                    {% for size in hero.sizes %}
                    {% if size.active %}
                    <span class="hero__label">{{ size.name }}</span>
                    {% break %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% if hero.colors %}
                <div class="hero__colors">
                    <ul class="hero__list">
                        {% for color in hero.colors %}
                        <li class="hero__item">
                            <button class="hero__color"
                                    title="{{ color.name | escape }}"
                                    type="button">{{ color.name }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                    {% for color in hero.colors %}
                    {% if color.active %}
                    <span class="hero__label">{{ color.name }}</span>
                    {% break %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <button class="hero__cart"
                        title="{{ hero.cart }}"
                        type="button"
                        data-ripple>
                    <span class="hero__text">{{ hero.cart }}</span>
                    <svg class="hero__icon">
                        <use href="#symbol-plus"/>
                    </svg>
                </button>
                {% if hero.sustainable.active %}
                <div class="hero__sustainable">
                    <svg class="hero__icon">
                        <use href="#symbol-sustainable"/>
                    </svg>
                    <strong class="hero__text">{{ hero.sustainable.title }}</strong>
                </div>
                {% endif %}
                <p class="hero__details">
                    {% for detail in hero.details %}
                    <span class="hero__text">{{ detail | raw }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section>
