<h2 class="logo logo--{{ modifier }}">
    <a class="logo__link"
       href="{{ logo.url }}"
       target="{{ logo.target }}"
       title="{{ logo.title }}">
        <svg class="logo__icon">
            <use href="#symbol-{{ logo.symbol }}"/>
        </svg>
    </a>
</h2>
